.container{
    margin: 1% 1%;
    mat-icon {
        margin-right: 1%;
    }
    .form-container {
        margin-top: 1%;
        width: 100%;
        .form-field {
            width: 95%;
        }
        #remarks-field {
            width: 100%;
        }
        .add-button {
            margin-top: 2%;
            width: 50%;
            height: 60%;
        }
    }
    .table-container {
        table {
            width: 100%;
        }
        margin-top: 1%;
        overflow: auto;
        height: 53vh;
    }
    .checkout-button {
        float: right;
        margin-top: 1%;
        width: 15%;
    }
}