.container{
    margin: 1% 1%;
    mat-icon {
        margin-right: 1%;
    }
    .form-container {
        margin-top: 1%;
        width: 100%;
        .form-field {
            width: 95%;
        }
        .search-button {
            margin-top: 5%;
            width: 80%;
        }
    }
    .table-container {
        table {
            width: 100%;
            tr:hover {
                background: rgb(233, 226, 226);
            }
        }
        margin-top: 1%;
        overflow: auto;
        height: 63vh;
    }
}