.container{
    margin: 1% 1%;
    mat-icon {
        margin-right: 1%;
    }
    .form-container {
        margin-top: 1%;
        width: 100%;
        .form-field {
            width: 95%;
        }
        .save-button{
            width: 20%;
            float: right;
            margin-right: 5%;
        }
    }
}